.book_container {
  background-color: #eee;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}
