.link_container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #42b0f5;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #333;
  transition: 0.3s ease-in-out;
}

.link_container:hover {
  background-color: #333;
  color: #fff;
}

.link_container svg {
  margin-left: 1rem;
}
